{% extends "base.html" %}

{% block title %}
  Подать заявку на конкурс
{% endblock %}

{% block content %}
  <form action="{% url 'contest:accepted' %}" method="get" >
    <p>
      <label for="title">Название:</label>
      <input name="title" id="title" type="text" required>
    </p>
    <p>
      <label for="description">Описание:</label>
      <input name="description" id="description" type="text" required>
    </p>
    <p>
      <label for="price">Цена:</label>
      <input name="price" id="price" required type="number">
      <small>Рекомендованная розничная цена</small>
    </p>
    <p>
      <label for="comment">Комментарий:</label>
      <input name="comment" id="comment" type="text">
    </p>
    <br>
      <input type="submit" value="Отправить">
  </form>
{% endblock %}